@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=DM+Serif+Display&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya&family=Chonburi&family=Cormorant+Garamond&family=Forum&family=Goblin+One&family=Gotu&family=Limelight&family=Monoton&family=Stardos+Stencil:wght@700&display=swap');

:root {
  --fira-sans: 'Fira Sans', sans-serif;
  /* --DM-Serif-Display-Italic: 'DM Serif Display', 'serif'; */
  --DM-Serif-Display: 'DM Serif Display', 'serif';
  --Cardo: 'Cardo', serif;
  --Abril-Fatface: 'Abril Fatface', sans-serif;
}

body,
#home-div,
.main,
#app,
/* .start-form-div, */
.all-venue-container,
.all-caterer-container,
.single-venue-container,
.single-caterer-container {
  background-color: #f9f6f3;
}

.img {
  width: 900;
  height: 500;
}

.nav {
  height: 100px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #f1cfbd;
  font-family: var(--Cardo);
}

nav ul {
  display: flex;
  margin-top: 1.2rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

nav h1 {
  color: black;
}

.hr {
  background-color: orange;
}

.boxes {
  display: flex;
  align-items: center;
}

.likeButtonBackgroundWhenClicked {
  background-color: green;
}

.favoriteSelectionsCard {
  width: auto;
  padding: 2rem;
  box-shadow: 2px 1px 20px #f1cfbd;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
  padding: 2rem
}

h1,
h2,
h3,
h4,
h5,
strong,
button {
  font-family: var(--DM-Serif-Display);
}

p,
label {
  font-family: var(--Cardo);
  font-weight: bold;
}

.btn-primary,
#btn-submit-new-event {
  background-color: #d562be !important;
  border: none !important;
  font-family: 'Abril Fatface';
}
.btn-primary:hover,
#btn-submit-new-event:hover {
  background-color: #605399 !important;
  color: white !important;
}

.eventFormDateTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
}

.eventFormDate,
.eventFormTime {
  height: 59px;
  width: 48%;
  font: inherit;
}

.button-divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

input {
  background-color: transparent;
  border: 1px solid #bfbdbb;
  border-radius: 5px;
}

.bg-pretty {
  background-color: #f1cfbd;
}

.pink {
  background-color: #f1cfbd;
}

.home-outline {
  text-shadow:  -1px 1px 2px #605399,
  1px 2px 6px #605399,
  1px -1px 0 #605399,
  -1px -1px 0 #605399;
}

#footer-design {
  background-color: #f1cfbd;
  padding: 1em;
  font-family: var(--DM-Serif-Display);
  text-align: center;
}

.nav-links {
  color: #605399;
  font-family: var(--DM-Serif-Display);
  font-weight: bold;
  font-size: large;
  padding: 1rem
}

.DM-Serif-display-font {
  font-family: var(--DM-Serif-Display);
}

.cardo-font {
  font-family: var(--Cardo);
}

.fatface-font {
  font-family: var(--Abril-Fatface);
}

.card-width-all-views {
  width: 25rem;
}

.single-img {
  width: 450px;
  height: 500px;
  object-fit: contain;
}

.home-tagline {
  text-align: center;
  margin: 1rem
}

.white-buttons-and-cardo {
  color: white;
  font-family: var(--Cardo)
}

.nav-flex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.responsive-nav {
  width: 100%
}

.start-form-center {
  width: 350px;
  text-align: center;
  align-items: center;
}

.text-decoration {
  text-decoration: none;
}

.height {
  height: 12rem;
}

.cateres-filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.carousel-caption {
  font-family: 'Abril Fatface', sans-serif;
  margin-bottom: 2em;
  font-weight: 700;
  text-shadow: black 1px 0 5px;
}

/* User Home */
.welcome-div {
  font-family: var(--Abril-Fatface);
  margin-left: 1rem;
}

.welcome-top {
  margin-left: 3rem;
}

.smallerUserHomeCards {
  width: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 1px 20px #f1cfbd;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.account-info {
  width: 25rem;
  margin: 0 0 1rem 1rem;
  font-size: large;
}

.each-favorite-venue-container, .each-favorite-caterer-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 1rem;
}

.liked-items {
  width: 10rem;
  margin: 1rem;
  transition: transform 300ms, box-shadow 300ms;
}

.liked-items:hover {
  transform: scale(1.075);
}

.liked-items-img {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.liked-items-title {
  font-family: var(--Cardo);
  font-size: medium;
}

.btn-event-edit-delete {
  display: flex;
  justify-content: space-between;
}

.event-details {
  width: 40rem;
  margin: 0 0 1rem 1rem;
  font-size: large;
}

/* Footer */
.footer-height {
  height: 2rem;
}

.footer-distance {
  height: 4rem;
}

.overflow-wrap {
  word-wrap: break-word;
}

/* All Results Page */
.all-results-card {
  width: 18rem;
  margin: 1.5rem 1rem;
  box-shadow: 8px 8px 8px #f1cfbd;
  transition: transform 300ms, box-shadow 300ms;
}

.all-results-card:hover {
  transform: scale(1.075);
  box-shadow: 8px 8px 8px #f1cfbd;
}

.all-results-img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}