:root {
  --sans: "Bree Serif", serif;
}

body {
    background-color: white;
}

.img {
  width: 900;
  height: 500;
}

nav {
  height: 100px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-family: var(--sans)

}

nav ul {
  display: flex;
  margin-top: 1.2rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
 
}

nav h1 {
  color: black
}

.hr {
  background-color: orange;
}

.boxes {
  display: flex;
  align-items: center;
}

.likeButtonBackgroundWhenClicked {
  background-color: green;
}

.allViews {
  width: 300px;
  height: 300px
}

.singleViewImg {
  width: 250px;
  height: 500px
}

.favoriteSelectionsCard {
  width: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 1px 20px grey;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.smallerUserHomeCards {
  width: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 1px 20px grey;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

h1, h2, h3, h4, h5, p, strong, button {
  font-family: 'Fira Sans', sans-serif;
}


.btn-primary {
  background-color: #F27A98;
  border: none;
  border-radius: 50px;
}


.eventFormDateTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
}

.eventFormDate, .eventFormTime{
  height: 59px;
  width: 48%;
  font: inherit;
}
